---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Experience from '../components/Experience.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <About />
    <Experience />
  </main>
</Layout>
